body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color:black;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.3);
    transition: 0.7s;
  }
  .container {
    padding: 2px 16px;
  }