// Usage as a mixin
.skip-navigation {
  @include sr-only;
  @include sr-only-focusable;
}
.mt-0 {
    margin-top: 0 !important;
  }
  
  .mr-r {
    margin-right: ($spacer * .25) !important;
  }
  
  .mx-2 {
    margin-left: ($spacer * .5) !important;
    margin-right: ($spacer * .5) !important;
  }
  
  .p-3 {
    padding: $spacer !important;
  }