*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.card
{
  position: absolute ; 
  transform: translate(-50%, -50%);
  top:50%; 
  left: 50%;
  font-family: 'Montserrat', sans-serif;
  margin-right: -50%;
  border-radius: 3px;
  width: 370px;
  background-color: #fff;
  min-height: 400px;
  box-shadow: 0px 1px 1px 0px .2 #000;
}

.container
{
  border-radius: 4px;
  color:  rgba(182, 159, 159, 0.787);
  display: inline-block;
  font-weight: 200;
  letter-spacing: .5px;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 6px 10px 0px;
  background: #fff;
  border: 1px solid rgb(163, 157, 157);
  line-height: 30px;
  width:162px;
  
}
.import{
  border-radius: 4px;
  color:  rgba(182, 159, 159, 0.787);
  display: inline-block;
  font-weight: 10px;
  font-size: 10px;
  padding: 6px; 
  margin: 10px 6px 10px 0px;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  border: 1px solid rgb(163, 157, 157);
  line-height: 10px;
  width:80px;
}
.hero{
  border-radius: 4px;
  color:  rgba(182, 159, 159, 0.787);
  display: inline-block;
  font-size: 10px;
  font-weight: 10px;
  padding: 6px 6px 6px 10px ; 
  margin: 10px 6px 10px 0px;
  background: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgb(163, 157, 157);
  line-height: 24px;
  width:152px;
}
.topic{
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(163, 157, 157);
}
.topic p{
  margin-bottom: 0px;
}
.topic a{
  
  font-size: 12px;
  font-weight: 500;
}
.imp{
  border: 1px solid rgb(163, 157, 157);
  border-radius: 4px;
  color: rgb(102, 89, 89);
  display: inline-block;
  padding: 5px;
  letter-spacing: .5px;
  margin: 10px 0px 25px 0px;
  background: rgb(255, 255, 255);
  line-height: 54px;
  width:330px;
}
.btn 
{
  border-radius: 3px;
  border-color: #2ab2db;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 14px;
  letter-spacing: .5px;
  margin: 0;
  background: #2ab2db;
  text-align: center;
  padding: 7px 128px 7px 120px;
  width: 330px;
  font-family: 'Montserrat', sans-serif;
}
.card p{
  margin: 0;
  padding: 10px 7px 3px 7px;
  font-size: 16px;
  text-align: center;
  color: rgb(163, 157, 157);
  font-weight: 500;
}
.hr{
margin: 0;
}
.pic{
  padding: 0px 10px 18px 18px ;
}
.topic h2
{
  font-weight: 50px;
}