*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card
{
  position: absolute ; 
  transform: translate(-50%, -50%);
  top:50%; 
  left: 50%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right: -50%;
  border-radius: 3px;
  width: 350px;
  background-color: #fff;
  min-height: 380px;
}

.container
{
  border-radius: 4px;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-weight: 200;
  letter-spacing: .5px;
  margin: 10px 0px 10px 0px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(163, 157, 157);
  line-height: 24px;
  width:148px;
  
}
.import{

  border-radius: 4px;
  color:  rgba(182, 159, 159, 0.787);
  display: inline-block;
  font-weight: 200;
  letter-spacing: .5px;
  margin: 10px 0px 10px 0px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(163, 157, 157);
  line-height: 54px;
  width:80px;
}
.hero{
  border-radius: 4px;
  color:  rgba(182, 159, 159, 0.787);
  display: inline-block;
  font-weight: 200;
  letter-spacing: .5px;
  margin: 10px 0px 10px 0px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(163, 157, 157);
  line-height: 24px;
  width:130px;
}
.topic{
  width: 100%;
  text-align: center;
  color: rgb(163, 157, 157);
}
.topic h2{
  margin-bottom: 0;
}
.topic h5{
  margin-top: 10px;
}
.imp{
  border: 1px solid rgb(163, 157, 157);
  border-radius: 4px;
  color: rgb(102, 89, 89);
  display: inline-block;
  font-weight: 200;
  letter-spacing: .5px;
  margin: 10px 0px 15px 0px;
  background: rgb(255, 255, 255);
  line-height: 54px;
  width:300px;
}
.btn 
{
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: .5px;
  margin: 0;
  background: #2a77db;
  text-align: center;
  padding: 3px 120px 3px 120px;
}
.card h1{
  margin: 0;
  padding: 18px;
  font-size: 15px;
  text-align: center;
  color: rgb(163, 157, 157);
}
.hr{
margin: 0;
}
.pic{
  padding: 0px 10px 18px 24px ;
}